@page "/Compra/Nuevo"

<h3>Lista de Productos</h3>

@if (productosLista == null)
{
    <div class="spinner"></div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Existencia</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in productosLista)
            {
                <tr>
                    <td>@product.Codigo</td>
                    <td>@product.Descripcion</td>
                    <td>@product.Precio</td>
                    <td>@product.Existencia</td>
                </tr>
            }
        </tbody>
    </table>
}

<EditForm Model="@compra">
    <DataAnnotationsValidator />
    <h3>Agregar producto a comprar</h3>
    <hr />


    <div class="form-group row">
        <label for="Cliente" class="col-sm-2 col-form-label">
            Cliente
        </label>
        <div class="col-sm-10">
            <InputText id="Cliente" class="form-control" placeholder="Cliente" @bind-Value=compra.Cliente />
            <ValidationMessage For="@(() => compra.Cliente)" />
        </div>
    </div

    <div class="form-group row">
        <label for="CodigoProducto" class="col-sm-2 col-form-label">
            Código del producto
        </label>
        <div class="col-sm-10">
            <InputText id="CodigoProducto" class="form-control" placeholder="Código del producto" @bind-Value=compra.CodigoProducto />
            <ValidationMessage For="@(() => compra.CodigoProducto)" />
        </div>
    </div>


    <div class="form-group row">
        <p>
            <input type="submit" class="btn-toolbar btn-primary" value="Comprar" @onclick="Comprar" />
            <input type="submit" class="btn-toolbar btn-danger" value="Cancelar" @onclick="Cancelar" />
        </p>

    </div>
</EditForm>
